#home{
    // position: relative;
    // background: url('../../assets/hero_bg.png');
    margin-top: 2rem;
    // background-size: cover;
    width: 100%;
    height: 68vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    padding: 6rem 2rem 0;

    // .overlay{
    //     position: absolute;
    //     top:0;
    //     bottom: 0;
    //     left: 0;
    //     right:0;
    //     z-index: -1;
    //     width: 100%;
    //     height: 100%;
    //     background: rgba(0,0,0,0.8);
    //     backdrop-filter: blur(4px);
    // -webkit-backdrop-filter: blur(4px);
        
    // }

    .app__header-hero-text{
        text-align: left;
        flex: 1;
        // border: 1px solid blue;
        flex-basis: 47%;
        margin-bottom: 2rem;
       
    
        h1{
            font-size: 60px;
            color: var(--secondary-color);
            margin: 1.5rem 0;
            filter: drop-shadow(2px 2px 2px #fe9ecc)
            // width: 300px;
        }
    
        p{
            color: var(--gray-color);
        }
        @media screen and (max-width:1200px){
            
            h1{
                font-size: 70px;
                color: var(--secondary-color);
                margin: 1.5rem 0;
            }
            }
        @media screen and (max-width:450px){
            
            h1{
                font-size: 40px;
                color: var(--secondary-color);
                margin: 1.3rem 0;
            }
    
            p{
                color: var(--gray-color);
                font-size: 16px;
            }
        }
       
      }
.app__header-info{
 
//   border: 1px solid red;
    flex-basis: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

}
@media screen and (max-width:450px){
            
    #home{
        flex-direction: column;
        margin-top: 0.65rem;
        width: 100%;
        padding: 1rem 2rem 0;
        .app__header-info{
            flex-basis: 47%; 
            margin-left: -12rem; 
        }
    }
}