@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --font-base: "Lato", sans-serif;
  --heading-font: "Montserrat", sans-serif;
  --primary-color: #6277d7;
  --secondary-color: #ff78ba;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --br-color: #aec3ff;
  --white-color: #ffffff;
  --p-color: #fe9ecc;
  --w-color: #4a5ea3;
  --bg-color: #d2dcff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
h1 {
  font-family: var(--heading-font);
}
